.poke-list-horizontal {
  overflow-x: scroll;
}

.poke-list-item {
  min-width: 240px;
  max-width: 480px;
  flex: 1 1 auto;
  overflow: hidden;
  background-color: var(--ant-blue-1);
  border: 1px solid var(--ant-blue-10);
}

.poke-list-item.small {
  min-width: 120px;
}
